* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #100c08;
  font-size: 17px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#root {
  padding: 100px 0;
}

.container {
  max-width: 1280px;
  padding: 0 200px;
  margin: 0 auto;
}

.form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.label {
  width: calc(100% / 3);
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-name {
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  font-size: inherit;
  border: 2px #100c08 solid;
  border-radius: 0;
  background-color: white;
}

.submit {
  width: 20%;
  padding: 12px 40px;
  border: 2px #100c08 solid;
  border-radius: 0;
  background-color: white;
  cursor: pointer;
}

.error {
  display: block;
  color: red;
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.list-item {
  width: calc(20% - 20px);
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #100c08 solid;
}

.list-item:nth-child(5n) {
  margin-right: 0;
}

.list-item:nth-last-child(-n+5) {
  margin-bottom: 0;
}

.list-item-name {
  display: block;
  margin-bottom: 12px;
}

.list-item-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10.5px;
  right: -10.5px;
  border: 2px #100c08 solid;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}



